<!DOCTYPE html>
<html layout:decorator="~{template1.html}">
<head>
    <meta charset="UTF-8">
   <style>
       
   </style>
    <title>Admin</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid" id="ges-personel">
            <div class="row ">
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                        <a href="categories" class="text-white">Categories</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="affectations" class="text-white"> Affectations</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="origine" class="text-white"> Origines</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="position" class="text-white"> Positions</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="stage" class="text-white"> Stages</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="grade" class="text-white"> Grades</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="grade" class="text-white"> Grades</a>
                    </div>
                </div>
                <div class="card bg-secondary text-white shadow col-md-3">
                    <div class="card-body">
                      <a href="grade" class="text-white"> Grades</a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="card bg-danger text-white shadow col-md-6">
                    <div class="card-body">
                      <a href="ajouterMilitaire" class="text-white"> Ajouter un militaire</a>
                    </div>
                </div>
                <div class="card bg-danger text-white shadow col-md-6">
                    <div class="card-body">
                      <a href="listMilitaire" class="text-white"> Listes des militaires</a>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
   
</body>
</html>