<!DOCTYPE html>
<html layout:decorator="~{template1.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment="content">
       

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card bg-gradient-info text-white shadow col-md-12" style="text-align: center;">
                    <div class="card-body">
                        Stages
                    </div>
                </div>
            </div>
            <div class="card-body row">
              <div class="table-responsive col-md-6" >
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      
                      <th>Stages</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="c:${listSt}">
                      
                      <td th:text="${c.libbele}">
                      </td>
                    </tr>
                  </tbody>
                </table>
               
               <div layout:fragment="table">

               </div>

              </div>
              <form th:action="@{/ajouterStage}" method="POST" class="col-md-6">
                <div class="modal-body">
                 
                   <input type="text" placeholder="Catégorie" name="nomCat">
                
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-default" data-dismiss="modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
              </form>
            </div>
          </div>


    </div>






  

</body>
</html>